# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# User-specific files
xcuserdata/
*.xcuserdatad/

# Swift Package Manager
.build/
Packages/
.swiftpm/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Thumbnails
*.~*

# IDE
*.idea/
*.vscode/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Archives
*.xcarchive

# Crashlytics
crashlytics.settings
crashlytics-build.properties
fabric.properties

